<div class="nav-wrapper">

  <div class="container">
    <div class="row">
      <div class="col s1">
        <a href="#" class="logo">
          <img src="/assets/logo.png">
        </a>
      </div>

      <div class="col s3 hide-on-med-and-down">
        <span>
          NILE Genius
        </span>
      </div>

      <div class="col s4 hide-on-small-only">
      </div>
      <div class="col s4">
        <span class="right">
          <span class="material-icons">
            perm_identity
          </span>
          Felix Langenegger
        </span>
      </div>

    </div>
  </div>
</div>
